nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.95);
    width: 100%;
    padding-bottom: 1%;
    position: fixed;
    z-index: 1;
}

nav a {
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family: "Dosis", sans-serif;
    text-decoration: none;
}

nav a:hover {
    opacity: 0.8;
    color: gold;
}

.nav1 {
    color: white;
    margin-top: 22px;
    font-size: 18px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;

}

.navinner {
    width: 20%;
}

#shopbtn {
    background-color: rgba(0, 0, 0, 0);
    font-size: 18px;
    font-weight: 700;
    font-family: "Dosis", sans-serif;
    border: none;
    color: white;
}

#shopbtn:hover {
    color: gold;
}
.dropdown-item:hover{
    background-color: #000000;
    color: white;
    font-weight: 800;
}
#logo {
    position: fixed;
    left: 46%;
    margin-top: 6px;
    width: 100px;
}

.cart1{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    width: 100%;
}

.overlay-text {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 24px;
    font-family:'dosis',sans-serif;
}

.cartbutton {
    background-color: white; 
    border: none; 
    color: black; 
    padding: 10px 20px;
    text-align: center; 
    text-decoration: none; 
    font-weight: bold;
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0px; 
    transition: background-color 0.4s ease;
}

.cartbutton:hover {
    background-color:rgb(202, 110, 5); 
    color: white;
    font-weight: bold;
    
}

footer {
    background-color: #000000;
    font-family: "Dosis", sans-serif;
}

footer a {
    text-decoration: none;
    color: white;
}

#footermaindiv1 {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding: 2% 0 1% 0;
}

.footdiv1inner {
    margin-bottom: 15%;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 5px;
}

#top {
    font-size: 18px;
    font-weight: 800;
}

#imgdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social {
    width: 25px;
}

.social:hover {
    box-shadow: 0 0 5px whitesmoke,
        0 0 25px whitesmoke, 0 0 50px whitesmoke, 0 0 100px whitesmoke, 0 0 200px whitesmoke;
}

#footermaindiv2 {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 2%;
    padding: 0 2% 3% 2%;
    font-size: 10px;
    letter-spacing: 2px;
}
.footlogo img{
    position: absolute;
    left: 44%;
    width:90px;
}

