body {
   font-family: "Dosis", sans-serif;
  background-color: black;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.95);
  width: 100%;
  padding-bottom: 1%;
  position: fixed;
  z-index: 3;
}

nav a {
  color: white;
  font-size: 18px;
  font-weight: 700;
  font-family: "Dosis", sans-serif;
  text-decoration: none;
}

nav a:hover {
  opacity: 0.8;
  color: gold;
}

.nav1 {
  color: white;
  margin-top: 22px;
  font-size: 18px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}

.navinner {
  width: 20%;
}

#shopbtn {
  background-color: rgba(0, 0, 0, 0);
  font-size: 18px;
  font-weight: 700;
  font-family: "Dosis", sans-serif;
  border: none;
  color: white;
}

#shopbtn:hover {
  color: gold;
}
.dropdown-item:hover {
  background-color: #000000;
  color: white;
  font-weight: 800;
}
#logo {
  position: fixed;
  left: 46%;
  margin-top: 6px;
  width: 100px;
}

/*corosoel styling*/
#centeredImage div{
    background-color:#161010;
    margin: 0 auto;
  }
  
.carousel-item{
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }

#prev_btn , #next_btn{
      z-index: 0;
  } 
  
/*form styling*/

.black-section {
  background-color: black;
  color: white;
  padding: 20px;
}

.wholesale-partner {
  background-color: #161010;
  padding: 20px;
  max-width: 600px;
  margin: auto;
}
.wholesale-partner h2 {
  color: white;
}
.wholesale-partner p {
  color: white;
}
.form-field {
  margin-bottom: 10px;
}
.form-field input,
.form-field textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #161010;
  border-radius: 5px;
}
.form-field textarea {
  height: 100px;
}
.form-field button {
  background-color: #805700;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}
.form-field button:hover {
  background-color: #e5de0c;
}

.hidden {
    display: none;
}

#thank-you-message,
#error-message {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

#thank-you-message {
    background-color: #d2ffd2; 
}

#thank-you-message p {
    color: green;
}

#error-message {
    background-color: #ffd2d2; 
}

#error-message p {
    color: red;
}

/* Footer */

footer {
  background-color: #000000;
  font-family: "Dosis", sans-serif;
}

footer a {
  text-decoration: none;
  color: white;
}

#footermaindiv1 {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  padding: 2% 0 1% 0;
}

.footdiv1inner {
  margin-bottom: 15%;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 5px;
}

#top {
  font-size: 18px;
  font-weight: 800;
}

#imgdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social {
  width: 25px;
}

.social:hover {
  box-shadow: 0 0 5px whitesmoke, 0 0 25px whitesmoke, 0 0 50px whitesmoke,
    0 0 100px whitesmoke, 0 0 200px whitesmoke;
}

#footermaindiv2 {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 2%;
  padding: 0 2% 3% 2%;
  font-size: 10px;
  letter-spacing: 2px;
}
.footlogo img {
  position: absolute;
  left: 44%;
  width: 90px;
}
@media screen and (max-width: 1050px) {
  #logo {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .carousel-item{
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }
}