body{
    background-image: url(images/shirtbackground.jpg);
    background-size: cover;
    background-position: center;
    font-family: "Dosis", sans-serif;
}
section{
    background-color: #000000ef;
    padding-bottom: 4%;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.95);
    width: 100%;
    padding-bottom: 1%;
    position: fixed;
    z-index: 1;
}

nav a {
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family: "Dosis", sans-serif;
    text-decoration: none;
}

nav a:hover {
    opacity: 0.8;
    color: gold;
}

.nav1 {
    color: white;
    margin-top: 22px;
    font-size: 18px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;

}

.navinner {
    width: 20%;
}

#shopbtn {
    background-color: rgba(0, 0, 0, 0);
    font-size: 18px;
    font-weight: 700;
    font-family: "Dosis", sans-serif;
    border: none;
    color: white;
}

#shopbtn:hover {
    color: gold;
}
.dropdown-item:hover{
    background-color: #000000;
    color: white;
    font-weight: 800;
}
#logo {
    position: fixed;
    left: 46%;
    margin-top: 6px;
    width: 100px;
}

#heading{
    text-align: center;
    color: rgb(194, 144, 51);
    padding-top: 5%;
    margin-bottom: 2%;
    font-weight: 600;
}
.row1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    text-align: center;
    height: 70vh;
    width: 100%;
    
}
.r1items{
    height:60vh;
    width: 20%;
}
.r1images{
    height:50vh;
    background-position: center;
    transition: 0.7s;
    background-size: cover;
    margin-top: 8%;
}


#h21,#h22,#h23{
    color: azure;
    margin-left: 5%;
   
}

hr{
    background-color: rgb(219, 218, 216);
    height: 5px;
    margin: 2% 1% 2% 1%;  
}

.r1images:hover{
    transform:scale(1.06);
    border: 3px solid gold;

}

.rtag{
    padding-top: 8%;
    font-size: 30px;
    font-weight: 700;
}

.price{
    font-size: 180%;
    color: rgb(194, 144, 51);
    font-weight: 700;
    margin-bottom: 2%;
}

#quantity{
    width:16%;
    color: #000000;
    font-weight: 800;
    text-align: center;
    font-size: 19px;
    padding: 1% 2% 1% 2%;
}

#addtocart{
    background-color: #000000;
    border: 2px solid white;
    color: white;
    font-size: 19px;
    font-family: "Dosis", sans-serif;
    padding: 1% 5% 1% 5%;
    font-weight: 800;
}
#addtocart:hover{
    background-color: #ffffff;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}


#i1{
    background-image: url(images/item9.png);
}

#i2{
    background-image: url(images/item11.png);
}

#i3{
    background-image: url(images/item12.png);
}

#i4{
    background-image: url(images/item8.png);
}

#i5{
    background-image: url(images/item13.png);
}

#i6{
    background-image: url(images/item14.png);
}

#nxtpage{
    width: 10%;
    margin: 5% auto 0 auto;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.116);
    border: 3px solid black;
}
#pages{
    color: goldenrod;
    text-decoration:none;
    font-size: 30px;
    font-weight: 800;
    border: 3px sloid black;
}
#nxtpage:hover{
    background-color: #000000;
    border: 3px solid white;
    color: #ffffff;
}
footer{
    background-color: #000000;
    font-family: "Dosis", sans-serif;
}
footer a{
    text-decoration: none;
    color: white;
}
#footermaindiv1{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding: 2% 0 1% 0;
}
.footdiv1inner{
    margin-bottom: 15%;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 5px;
}
#top{
    font-size: 18px;
    font-weight: 800;
}
#imgdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.social{
    width: 25px;
}
.social:hover{
    box-shadow: 0 0 5px whitesmoke,
    0 0 25px whitesmoke,0 0 50px whitesmoke, 0 0 100px whitesmoke, 0 0 200px whitesmoke;
}
#footermaindiv2{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 2%;
    padding: 0 2% 3% 2%;
    font-size: 12px;
    letter-spacing: 3px;
}
#footerlogo img{
    position: absolute;
    width: 120px;
    left: 45%;
}